@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  
}
.aboutuspage{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    height: fit-content;
    width: 100%;
  animation: fadeIn 0.5s normal;

    .welcome-page {
        width: 100%;
        .navbar {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 0 20px 0;
          height: 15vh;
          width: 97%;
          // border: 1px solid black;
          background-color: transparent;
    
          div {
            // border: 1px red solid;
          }
          .nav-links {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            width: 35%;
            a {
              text-decoration: none;
              color: white;
              font-size: 2vh;
              font-weight: bold;
              padding: 10px 20px;
              border-radius: 5px;
              transition: background-color 0.3s ease-in-out;
              &:hover {
              }
            }
            .aboutus{
              color: gray;
            }
            .login-btn {
              background-color: rgb(18, 145, 196);
              color: white;
              &:hover {
                background-color: #45a049;
              }
            }
          }
        }
        .logo {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 30%;
          height: fit-content;
          // border: 1px solid black;
          img {
            width: 20%;
            height: auto;
            margin-bottom: 20px;
          }
          .headername {
            font-size: 5vh;
            color: white;
            font-weight: bold;
            padding: 0;
            margin: 0;
          }
          .footername {
            color: white;
            padding: 0;
            margin: 0;
            font-size: 2vh;
          }
          div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: fit-content;
            // border: 1px solid black;
          }
        }
      }
      .welcome-text {
        color: white;
    
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // border: red 1px solid;
        h1 {
          font-size: 7vh;
          margin: 0;
          padding: 0;
        }
        p {
          padding: 0;
          margin: 0;
          font-size: 3vh;
          text-align: center;
          width: 100%;
          // font-weight: bold;
          color: white;
        }
      }
      .blurred-bottom {
        position: relative;
        background-image: linear-gradient(to bottom, transparent, darkgreen);
        background-size: 100% 30%;
        background-repeat: no-repeat;
        background-position: bottom;
      }
      .whoarewe{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
        background-color: #f0f0f0;
        padding: 20px 0;
        .whoarewe-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 70%;
            border-bottom: #c2c2be 1px solid;
            h1 {
              font-size: 5vh;
              color:#0a4215;
              margin-bottom: 20px;
            }
            p{
                color: #5d5d5c;
            }
        }
        p {
          font-size: 2vh;
          color: black;
          text-align: center;
          width: 80%;
          margin-bottom: 20px;
        }
        .mission-vision{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            margin-top: 10vh;
            p{
                color: #5d5d5c;
                font-weight: 100;
            }
            h2{
                font-weight: 500;
            }
            div{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 20%;
                // border: black 1px solid;

            }
            .icon{
                font-size: 5vh;
                color: #45a049;
            }
            .mission{
                h2{
                    margin-bottom: 0;
                    margin-top: 0;
                }
                p{
                    margin-top: 0;
                    padding: 5vh;
                }
            }
        }
      }
      .purpose{
        display: flex;
        flex-direction: column;
        width: 70%;
        height:90vh;
        justify-content: center;
        align-items: center;
        .purpose-top{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            border-bottom: #c2c2be 1px solid;
            padding-bottom: 5vh;

            div{
                width: 20%;
                p{
                    color: #5d5d5c;
                    font-weight: 100;   
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                img{
                    width: 100%;
                    height: auto;
                    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
    .purpose-bottom{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 70%;
        border-bottom: #c2c2be 1px solid;
        h1{
            color:#0a4215;
            font-size:7vh;
        }
        img{
            width: 50%;
            height: fit-content;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        }
        .purpose2{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 70%;
            margin-bottom: 2vh;
            // border-bottom: #c2c2be 1px solid;
            padding-bottom: 5vh;
           height:15vh;
           font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
           font-weight: 100;
           border-left: #c2c2be 1px solid;
           border-right: #c2c2be 1px solid;

        }

    }
    .how{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 70%;
        height: 80vh;
        margin-bottom:10vh ;
        h1{
            font-size: 7vh;
            color: #0a4215;
        }
        .how-container{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;

            .how-card{
                width: 30%;
                height: fit-content;
                background-color: #f7c600;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: 100;
                img{
                    width: 100%;
                    height: auto;
                    // box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
    .footer {
        height: 50vh;
        width: 100%;
        background-color: #196b34;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    
        div {
          width: 25%;
        //   border: red 1px solid;
        }
        .footer1 {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          padding: 2vh;
          color: white;
          font-size: 1.4vh;
          font-weight: 50;
    
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
          .logo {
            margin-left: 2vh;
            width: 30%;
            height: fit-content;
            img {
              width: 100%;
              height: auto;
              margin-bottom: 20px;
            }
          }
          p{
            text-align: start;
          }
        }
        .footer2{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            // align-items: f;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
            font-weight: 50;
            padding:8vh;
            a{
                color: yellow;
                padding: 0;
                margin: 0;
            }
            p{
                padding: 0;
                margin: 0;
                color: white;
            }
        }
        .footer3{
            display: flex;
            flex-direction: column;
            justify-content:center;
            width: 20%;
            .social-media{
                // border: red 1px solid;
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                a{
                    text-decoration: none;
                    color:white;
                    font-size: 7vh;
                }
            }
            p{
                color: white;
                font-size: 3vh;
                margin: 0;
                padding: 0;
            }
        }
        .footer4{
          display: flex;
          flex-direction:column;
          height: 100%;
          justify-content: center;
          color: white;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          p{
            text-decoration: underline;
            margin: 0;
            padding: 0;
          }
        }
      }
}